PORT=3000

# Credenciales de Facebook
FACEBOOK_PAGE_ID=your_page_id_here
FACEBOOK_ACCESS_TOKEN=your_page_access_token_here

# Credenciales de YouTube API v3
YOUTUBE_CLIENT_ID=your_youtube_client_id_here
YOUTUBE_CLIENT_SECRET=your_youtube_client_secret_here
YOUTUBE_REDIRECT_URI=http://localhost:3000/api/youtube/oauth2callback
YOUTUBE_REFRESH_TOKEN=your_youtube_refresh_token_here
